on init
    # mount debugfs
    mount debugfs /sys/kernel/debug /sys/kernel/debug
     setprop wifi.interface wlan0
    # Set this property so AdvancedWifiSettings would show the checkbox
    # for Enable/Disable Active Roaming
     setprop ro.wifi.active_roaming.enable true
    # disable transparent huge pages
    write /sys/kernel/mm/transparent_hugepage/enabled "never"

    # See storage config details at http://source.android.com/tech/storage/
    mkdir /mnt/shell/emulated 0700 shell shell
    mkdir /storage/emulated 0555 root root

    mkdir /mnt/media_rw/sdcard1 0700 media_rw media_rw
    mkdir /mnt/media_rw/usbdisk 0700 media_rw media_rw
    mkdir /storage/sdcard1 0700 root root
    mkdir /storage/usbdisk 0700 root root

    export EXTERNAL_STORAGE /storage/emulated/legacy
    export EMULATED_STORAGE_SOURCE /mnt/shell/emulated
    export EMULATED_STORAGE_TARGET /storage/emulated
    export SECONDARY_STORAGE /storage/sdcard1

    # Support legacy paths
    symlink /storage/emulated/legacy /sdcard
    symlink /storage/emulated/legacy /mnt/sdcard
    symlink /storage/emulated/legacy /storage/sdcard0
    symlink /mnt/shell/emulated/0 /storage/emulated/legacy
    symlink /storage/usbdisk /usbdisk
    symlink /storage/usbdisk /mnt/usbdisk

    # Disabled virtual memory randomization
    # (if randomization is enabled the AEM-JIT will have a lower cache hit rate)
    write /proc/sys/kernel/randomize_va_space 0

    symlink /dev/block/platform/f723d000.dwmmc0 /dev/block/platform/hi_mci.0
    mkdir /dev/frz
    mount cgroup none /dev/frz freezer
	
    mkdir /modem_log 0771 system system
	
    mkdir /cust
    mkdir /splash2
    mkdir /3rdmodem

    symlink /splash2 /log

    mkdir /mnt/secure 0700 root root
    mount tmpfs tmpfs /mnt/secure mode=0700,uid=0,gid=0

    mkdir /mnt/secure/staging 0700 root root

    mkdir /mnt/secure/asec  0700 root root
	
    write /proc/sys/kernel/dmesg_restrict 1
	
    chown system system /dev/memsetdev
    chmod 660 /dev/memsetdev
    chown keystore keystore /dev/kmdev
    chmod 660 /dev/kmdev
    chown system system /dev/efuse
    chmod 0660 /dev/efuse
    chmod 0660 /dev/tfa9887
    chmod 0666 /dev/modemctl
    chmod 0666 /dev/audience_es305
    chmod 0660 /dev/ttyAMA1
    chmod 777 /dev/tpa2028_l
    chmod 777 /dev/tpa2028_r
    chmod 777 /dev/tpa6132
    chmod 777 /dev/spk_5vboost
    chown media media /dev/tfa9887
    chown media media /dev/ttyAMA1

    chown system system /dev/log/switch
    chmod 0660 /dev/log/switch

    write /sys/module/block2mtd/parameters/block2mtd /dev/block/mmcblk0p19
        
    mount ext4 /dev/block/mmcblk0p12 /mnvm3:0 nosuid nodev noatime wait crypt discard,noauto_da_alloc,data=ordered,user_xattr,discard,barrier=1
    mount ext4 /dev/block/mmcblk0p17 /modem_log nosuid nodev noatime wait crypt discard,noauto_da_alloc,data=ordered,user_xattr,discard,barrier=1
    wait /dev/block/mmcblk0p11
    fix_ext4 /sbin/e2fsck_s /dev/block/mmcblk0p11
    mount ext4 /dev/block/mmcblk0p11 /mnvm2:0 nosuid nodev noatime

    chmod 0774 /mnvm2:0
    chown root root /mnvm2:0
    write /proc/modem_depend 1

    mkdir /dev/frz
    mount cgroup none /dev/frz freezer

    mkdir /cust
    mkdir /splash2
    mkdir /3rdmodem
    mkdir /3rdmodemnvm
    mkdir /3rdmodemnvmbkp

    write /sys/module/block2mtd/parameters/block2mtd /dev/block/mmcblk0p7
    wait /dev/nve0
    chmod 0770 /dev/nve0
    chown root system /dev/nve0

    chmod 0660 /dev/maxim_smartpa_dev
    chown media media /dev/maxim_smartpa_dev
    chmod 0660 /dev/speakerID
    chown media media /dev/speakerID
    chmod 0660 /dev/hi6402_hifi_misc
    chown media media /dev/hi6402_hifi_misc
    chmod 0660 /dev/ttyAMA0
    chown media media /dev/ttyAMA0
    chmod 0660 /dev/anc_hs
    chown media media /dev/anc_hs
    chmod 0660 /dev/tfa9895
    chown media media /dev/tfa9895
    chmod 0660 /dev/ear_pa
    chown media media /dev/ear_pa


#bluetooth
   #UART device
   chmod 0660 /dev/ttyAMA1
   chown bluetooth net_bt_stack /dev/ttyAMA1

on fs
    mount_all /fstab.hi6210sft
    setprop ro.crypto.fuse_sdcard true

    mount configfs none /sys/kernel/config
    mkdir /sys/kernel/config/usb_gadget/g1
    mkdir /sys/kernel/config/usb_gadget/g1/functions/ffs.adb

    mkdir /dev/usb-ffs 0770 shell shell
    mkdir /dev/usb-ffs/adb 0770 shell shell
    mount functionfs adb /dev/usb-ffs/adb uid=2000,gid=2000

    write /sys/kernel/config/usb_gadget/g1/idVendor 0x12d1
    write /sys/kernel/config/usb_gadget/g1/idProduct 0x103a
    mkdir /sys/kernel/config/usb_gadget/g1/strings/0x409
    write /sys/kernel/config/usb_gadget/g1/strings/0x409/serialnumber "0123456789"
    write /sys/kernel/config/usb_gadget/g1/strings/0x409/manufacturer "HISILICON"
    write /sys/kernel/config/usb_gadget/g1/strings/0x409/product "ADB Gadget"

    mkdir /sys/kernel/config/usb_gadget/g1/configs/c.1
    mkdir /sys/kernel/config/usb_gadget/g1/configs/c.1/strings/0x409
    write /sys/kernel/config/usb_gadget/g1/configs/c.1/strings/0x409/configuration "Conf 1"
    symlink /sys/kernel/config/usb_gadget/g1/functions/ffs.adb /sys/kernel/config/usb_gadget/g1/configs/c.1/ffs.adb
    start adbd

    setprop ro.crypto.fuse_sdcard true
    symlink /splash2/fac_log /data/log/fac_log
    mount ext4 /dev/block/mmcblk0p34 /cache nosuid nodev noatime wait crypt discard,noauto_da_alloc,data=ordered,user_xattr,discard,barrier=1

    wait /dev/block/mmcblk0p38
    mount ext4 /dev/block/mmcblk0p38 /system ro

    wait /dev/block/mmcblk0p40
    mount ext4 /dev/block/mmcblk0p40 /data nosuid nodev noatime wait crypt discard,noauto_da_alloc,mblk_io_submit,data=ordered
    
    mount ext4 /dev/block/platform/hi_mci.0/by-name/cust /cust wait ro nosuid nodev


    chmod 0771 /mnvm1:0
    chmod 0771 /mnvm2:0
    chmod 0771 /mnvm3:0
    chmod 0774 /dsp:0
	
    chown root root /mnvm1:0
    chown root root /mnvm2:0
    chown root root /mnvm3:0
    chown root root /dsp:0

    mount ext4 /dev/block/platform/hi_mci.0/by-name/cust /cust wait ro nosuid nodev
    mount_doul vfat-ext4 /dev/block/platform/hi_mci.0/by-name/splash2 /splash2 wait rw nosuid nodev uid=1000,gid=1000,fmask=0002,dmask=0002,context=u:object_r:splash2_data_file:s0
    mount ext4 /dev/block/platform/hi_mci.0/by-name/3rdmodem /3rdmodem noatime nosuid nodev
    mount ext4 /dev/block/platform/hi_mci.0/by-name/3rdmodemnvm /3rdmodemnvm noatime nosuid nodev context=u:object_r:radio_data_file:s0
    mount ext4 /dev/block/platform/hi_mci.0/by-name/3rdmodemnvmback /3rdmodemnvmbkp noatime nosuid nodev context=u:object_r:radio_data_file:s0

    mkdir /data/log 0755 system log
    mkdir /splash2/log 0775 system log
    symlink /splash2/fac_log /data/log/fac_log
    symlink /splash2 /log

    wait /dev/block/mmcblk0p35
    chown system system /dev/block/mmcblk0p35
    chmod 0660 /dev/block/mmcblk0p35

    wait /dev/block/mmcblk0p36
    chown system system /dev/block/mmcblk0p36
    chmod 0660 /dev/block/mmcblk0p36

on post-fs-data
    mkdir /data/media 0770 media_rw media_rw
    mkdir /data/misc/gatord 0700 root root
    mkdir /data/misc/wireless 0771 system system
    mkdir /data/misc/wifi 0771 wifi wifi
    mkdir /data/misc/wifi/sockets 0771 wifi wifi
    mkdir /data/misc/wifi/wapi_certs 0777 wifi wifi
    mkdir /data/misc/dhcp 0770 dhcp dhcp
    # Set SELinux security contexts for files used by lava.
    restorecon_recursive /data/local/tmp/lava

on post-fs

    # BT LED sysfs entry
    write /sys/devices/leds/leds/bt_active/trigger "hci1rx"

    chmod 0666 /dev/ump
    chmod 0666 /dev/ion
    chmod 0666 /dev/mali
    chown system.graphics /dev/mali
    chmod 0666 /dev/graphics/fb0

on boot

    setprop ARGH ARGH
    setprop ro.radio.use-ppp no
    setprop ro.build.product generic
    setprop ro.product.device generic

# fake some battery state
    setprop status.battery.state Slow
    setprop status.battery.level 5
    setprop status.battery.level_raw  50
    setprop status.battery.level_scale 9

# Set Display density
    setprop ro.sf.lcd_density 160

# Set supported opengles version
    setprop ro.opengles.version 196608

# change permissions for process groups
# https://bugs.launchpad.net/bugs/1037611
    chmod 0660 /dev/cpuctl

# enable Google-specific location features,
# like NetworkLocationProvider and LocationCollector
    setprop ro.com.google.locationfeatures 1

# enable test harness
    setprop ro.test_harness true

    # Setup paths used for socket communication with the dhcp daemon (dhcpd)
    mkdir /data/misc/dhcp 0770 dhcp dhcp
    chown dhcp dhcp /data/misc/dhcp

service sdcard /system/bin/sdcard -u 1023 -g 1023 -l /data/media /mnt/shell/emulated
    class late_start

service fuse_sdcard1 /system/bin/sdcard -u 1023 -g 1023 -w 1023 -d /mnt/media_rw/sdcard1 /storage/sdcard1
    class late_start
    disabled

service fuse_usbdisk /system/bin/sdcard -u 1023 -g 1023 -w 1023 -d /mnt/media_rw/usbdisk /storage/usbdisk
    class late_start
    disabled

on property:sys.usb.config=adb
    write /sys/kernel/config/usb_gadget/g1/UDC "f72c0000.usb"
    write /sys/class/udc/f72c0000.usb/soft_connect "disconnect"
    write /sys/class/udc/f72c0000.usb/soft_connect "connect"
    setprop sys.usb.state ${sys.usb.config}

# FIXME: we need to bind the driver while adbd is restarted. We need delay else bind fails. Need to investigate
on property:init.svc.adbd=running
    wait /dev/socket/hack 1
    write /sys/kernel/config/usb_gadget/g1/UDC "f72c0000.usb"
    write /sys/class/udc/f72c0000.usb/soft_connect "disconnect"
    write /sys/class/udc/f72c0000.usb/soft_connect "connect"
    setprop sys.usb.state ${sys.usb.config}


on property:usb_speed.switch=high
    write /sys/kernel/debug/f72c0000.usb/config "0"

on property:usb_speed.switch=full
    write /sys/kernel/debug/f72c0000.usb/config "1"

#userspace daemon needed for bluetooth
service uim /system/bin/uim
    class main
    user root
    oneshot

service wpa_supplicant /system/bin/wpa_supplicant \
     -iwlan0 -Dnl80211 -c/data/misc/wifi/wpa_supplicant.conf \
     -e/data/misc/wifi/entropy.bin  -g@android:wpa_wlan0
     socket wpa_wlan0 dgram 660 wifi wifi
     class main
     disabled
     oneshot

service dhcpcd_wlan0 /system/bin/dhcpcd -dABKL
     group dhcp
     disabled
     oneshot

service dhcpcd_eth0 /system/bin/dhcpcd -dABKL
     group dhcp
     disabled
     oneshot

service dhcpcd_bt-pan /system/bin/dhcpcd -dABKL
     group dhcp
     disabled
     oneshot
